# Firebase
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
VITE_FIREBASE_VAPID_KEY=

# Mapbox (https://account.mapbox.com/access-tokens/)
VITE_MAPBOX_TOKEN=

# ImgBB (https://api.imgbb.com/)
VITE_IMGBB_API_KEY=
